@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 93%;
    --foreground: 240 10% 20%;
    --card: 240 67% 97%;
    --card-foreground: 240 10% 20%;
    --popover: 240 67% 97%;
    --popover-foreground: 240 10% 20%;
    --primary: 190 42% 61%;
    --primary-foreground: 190 100% 10%;
    --secondary: 240 50% 96.1%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 50% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 60% 90%;
    --accent-foreground: 190 42% 40%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 85%;
    --input: 60 30% 88%;
    --ring: 190 42% 61%;
    --chart-1: 190 42% 61%;
    --chart-2: 240 40% 75%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 240 10% 10%;
    --foreground: 60 30% 96%;
    --card: 240 5% 15%;
    --card-foreground: 60 30% 96%;
    --popover: 240 5% 15%;
    --popover-foreground: 60 30% 96%;
    --primary: 190 42% 61%;
    --primary-foreground: 190 100% 10%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 60 30% 96%;
    --muted: 240 5% 20%;
    --muted-foreground: 60 30% 70%;
    --accent: 240 10% 25%;
    --accent-foreground: 60 30% 96%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 25%;
    --input: 240 5% 25%;
    --ring: 190 42% 61%;
    --chart-1: 190 42% 61%;
    --chart-2: 240 40% 75%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
